.idea
# common
.cf-service/.gradle
.cf-service/.idea
.cf-service/build
# with db
.cf-db-service/.gradle
.cf-db-service/.idea
.cf-db-service/build
/bin
# starter
.order-starter/.gradle
.order-starter/.idea
.order-starter/build
# kafka 
.cf-kafka-service/.gradle
.cf-kafka-service/.idea
.cf-kafka-service/build
# redis
.redis-service/.gradle
.redis-service/.idea
.redis-service/build
# hz 
.hz-service/.gradle
.hz-service/.idea
.hz-service/build